<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FormularioConfiguracionesModernas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FormularioConfiguracionesModernas.Properties.Settings>
            <setting name="tema_claro_rb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tema_oscuro_rb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_ambar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skin_color_azul" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_morado_int" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_rosa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_cian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_naranja_int" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_indigo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_gris_azul" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_verde" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_gris" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_rojo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_morado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_verde_clar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_lima" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_verde_azul" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_marron" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_naranja" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_amarillo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skin_color_azul_clar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="text_color_white" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="text_color_black" serializeAs="String">
                <value>False</value>
            </setting>
        </FormularioConfiguracionesModernas.Properties.Settings>
    </userSettings>
</configuration>